<!DOCTYPE html>
<html>
<head>
  <title><%= name_helper  %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <p>
    <%= render "layouts/menu" %>
  </p>
  <p>
    <%= render "layouts/flash" %> 
  </p>
  <p>
    <%= render "layouts/authentication" %>
  </p>

  <%= yield %>
  
</div>

</body>
</html>
